@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* TELA LOGIN */

#bg {
  background: url("../img/login_pet.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  align-items: center;
}

.card {
  background-color: #bb603890;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #000000;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  min-width: 260px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #ffc6c7;
}

.label-float input {
  color: #fff;
}

.label-float label {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
  font-size: 13px;
  margin-top: 0px;
  color: #ffc6c7;
}

button {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.6s ease-out;
}

button:hover {
  background-color: #fc8083;
  transition: all 0.5s ease-out;
}

.justify-center {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.log h2 {
  font-size: 3em;
  font-family: 'Bree Serif', serif;
  color: #fff;
  margin-bottom: .1em;
}

/* TELA CADASTRO */

body {
  background-color: #3237d2;
}

#bg-cad {
  background: url("../img/cadastro_pet-azul.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  align-items: center;
}

.card-cad {
  background-color: #3237d280;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #000000;
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.label-cad input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  min-width: 260px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

.label-cad {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-cad input:focus {
  border-bottom: 2px solid #3237d2;
}

.label-cad input {
  color: #fff;
}

.label-cad label {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-cad input:focus+label,
.label-cad input:valid+label {
  font-size: 13px;
  margin-top: 0px;
  color: #3237d2;
}

.btn-cad {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 1px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.6s ease-out;
}

.btn-cad:hover {
  background-color: #3237d2;
  transition: all 0.5s ease-out;
}

.log-cad h2 {
  font-size: 3em;
  font-family: 'Bree Serif', serif;
  color: #fff;
  margin-bottom: .1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container .card {
  margin-bottom: 10%;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}

/*MOBILE*/

@media (max-width: 440px) {
  #bg {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #bg-cad {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}

/* TABLET */

@media (max-width: 758px) {
  #bg {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #bg-cad {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin-bottom: 5%;

  }

  .card-cad {
    margin-bottom: 5%;

  }

  body {
    background-color: #e7d3c7;
  }
}
