/* VARIÁVEL */
:root {
    --primary: #EB1CCC;
    --secondary: #95989A;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

/* RESET */
* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER #EVENT DESCRIPTION */
#event-description {
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("../img/hrz-5.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

/* HEADER #DISCLAIMER */
#disclaimer h2,
#disclaimer .event-date{
    color: var(--primary);    
}